## Statistik und Autorenliste

Im Zeitraum vom #StartDate# bis zum #EndDate# wurden #NumberOfVotes# steemSTEM/curie-upvotes von de-STEM vermittelt, das entspricht im Durchschnitt #MeanPostsPerDay# Votes/Tag.

Diese Votes im aktuellen Wert von ca. #VoteSmall# $, #VoteMedium# $ und #VoteBig# $ gingen an #NumberOfAuthors# unterschiedliche Autoren:
#ListOfAuthors#